*
{
    margin: 0;
    padding: 0;
    font-size: 0;
}

body
{
    background-color: #80dae6;
    background-image: url(../imagenes/navFooter/banerRecortadoAzulClaro.png);
    transition: 0.3s;
    /*    background-repeat: no-repeat;*/
}

body .barraNav
{
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 235px;
    z-index: 1;
    /*    float: left;*/
}

body .barraNav header
{
    background: transparent;
    display: flex;
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 20px;
}

body .barraNav header #logo
{
    width: 100px;
    height: 100px;
    content: url("../imagenes/navFooter/portalinerdimensional2.gif");
    position: absolute;
    top: 10px;
    left: 70px;
}

body .barraNav header #rickymorty
{
    width: 90px;
    height: 90px;
    content: url("../imagenes/navFooter/rickymorty4transparente.png");
    position: absolute;
    top: 10px;
    left: 75px;
}

body .barraNav header #letraTitulo
{
    width: 170px;
    height: 60px;
    content: url("../imagenes/navFooter/rickymortytitulo2.png");
    position: relative;
    top: 75px;
    left: 10px;
}

body .barraNav .centrado nav
{
    display: inline-block;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    position: relative;
    top: 75px;
}

body .barraNav .centrado nav a
{
    width: 195px;
    height: 40px;
    display: flex;
    font-size: 0;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 6px 6px 10px -1px #01a3b8,
        -4px -4px 7px -1px #ccf0f5;
    position: relative;
    background-color: #42fffb;
}

body .barra .centrado nav a:active
{
    box-shadow: inset 6px 6px 10px -1px #01a3b8,
        inset -4px -4px 10px -1px #ccf0f5;
}

body .barraNav .centrado nav a #imgH3
{
    display: flex;
    position: absolute;
    top: 50%;
    /*  left: 50%;*/
    transform: translate(15px, -50%);
}

body .barraNav .centrado nav a #imgH3 img
{
    display: block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
}

body .barraNav .centrado nav a:hover #imgH3 img
{
    display: block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
}

body .barraNav .centrado nav a:nth-child(1) #imgH3 img
{
    content: url("../imagenes/navFooter/rickcabeza.png");
}

body .barraNav .centrado nav a:nth-child(2) #imgH3 img
{
    content: url("../imagenes/navFooter/rickriendo.png");
}

body .barraNav .centrado nav a:nth-child(3) #imgH3 img
{
    content: url("../imagenes/navFooter/rickextrañado.png");
}

body .barraNav .centrado nav a:nth-child(4) #imgH3 img
{
    content: url("../imagenes/navFooter/rickenmalestado.png");
}

body .barraNav .centrado nav a:hover:nth-child(1) #imgH3 img
{
    display: block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
    content: url("../imagenes/navFooter/rickgifrotando.gif");
}

body .barraNav .centrado nav a:hover:nth-child(2) #imgH3 img
{
    display: block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
    content: url("../imagenes/navFooter/rickgifrotando.gif");
}

body .barraNav .centrado nav a:hover:nth-child(3) #imgH3 img
{
    display: block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
    content: url("../imagenes/navFooter/rickgifrotando.gif");
}

body .barraNav .centrado nav a:hover:nth-child(4) #imgH3 img
{
    display: block;
    width: 30px;
    height: 33px;
    margin-right: 15px;
    content: url("../imagenes/navFooter/rickgifrotando.gif");
}

body .barraNav .centrado nav a:hover #imgH3 h3
{
    color: #b5dc36;
}

#header
{
    text-align: center;
}

body .barraFooter footer
{
    position: absolute;
    font-size: 0;
    border-radius: 30px;

    display: grid;
    font-size: 0;
    padding-left: 22.5px;
    padding-right: 22.5px;

    border-radius: 30px;
    bottom: 215px;
}

body .barraFooter footer a
{
    width: 35px;
    height: 35px;
    display: grid;
    margin-bottom: 10px;
    font-size: 0;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px #01a3b8,
        -4px -4px 7px -1px #ccf0f5;
    position: relative;
    background-color: #42fffb;
}

body .barraFooter footer a:nth-child(1)
{
    margin-right: 18px;
}

body .barraFooter footer a:nth-child(2)
{
    margin-right: 18px;
}

body .barraFooter footer a:nth-child(3)
{
    margin-right: 18px;
}

body .barraFooter footer a:active
{
    box-shadow: inset 6px 6px 10px -1px #01a3b8,
        inset -4px -4px 10px -1px #ccf0f5;
}

body .barraFooter footer a #img
{
    display: flex;
    position: absolute;
    top: 50%;
    /*  left: 50%;*/
    transform: translate(7px, -50%);
}

body .barraFooter footer a #img img
{
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 1px;
}

body .barraFooter footer a:nth-child(1) #img img
{
    content: url("../imagenes/navFooter/instagramOscuro.png");
}

body .barraFooter footer a:nth-child(2) #img img
{
    content: url("../imagenes/navFooter/twitterOscuro.png");
}

body .barraFooter footer a:nth-child(3) #img img
{
    content: url("../imagenes/navFooter/facebookOscuro.png");
}

body .barraFooter footer a:nth-child(4) #img img
{
    content: url("../imagenes/navFooter/youtubeOscuro.png");
}

body .barraFooter footer a:hover:nth-child(1) #img img
{
    display: block;
    margin-right: 15px;
    content: url("../imagenes/navFooter/instagramColor.png");
}

body .barraFooter footer a:hover:nth-child(2) #img img
{
    display: block;
    margin-right: 15px;
    content: url("../imagenes/navFooter/twitterColor.png");
}

body .barraFooter footer a:hover:nth-child(3) #img img
{
    display: block;
    margin-right: 15px;
    content: url("../imagenes/navFooter/facebookColor.png");
}

body .barraFooter footer a:hover:nth-child(4) #img img
{
    display: block;
    margin-right: 15px;
    content: url("../imagenes/navFooter/youtubeColor.png");
}

body .barra .centrado nav img
{
    display: none;
}

/* BOTON DE MODO */

body .barraFooter #modos
{
    width: 0px;
    height: 0px;
}

body .barraFooter #modos input[type="checkbox"]
{
    width: 0px;
    height: 0px;
}

body .barraFooter #modos input[type="checkbox"]:before
{
    content: "";
    width: 64px;
    height: 34px;
    background-color: transparent;
    border: 2px transparent solid;
    border-radius: 30px;
    z-index: 9;
    position: absolute;
    left: 85px;
    top: 385px;
}

body .barraFooter #modos #fondoCheck
{
    content: "";
    width: 60px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    border-radius: 30px;
    border: 3px #b5dc36 solid;
    left: 85px;
    top: 385px
}

body .barraFooter #modos #bola
{
    content: "";
    width: 25px;
    height: 25px;
    margin-top: 2.6px;
    background-color: #b5dc36;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    transition: 0.3s;
    left: 3px;
}

body .barraFooter #modos #imgOscCla
{
    content: url(../imagenes/navFooter/luna.png);
    width: 25px;
    height: 25px;
    margin-top: 2.6px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    left: 32px;
}

body .barraFooter #rango
{
    position: relative;
    top: 430px;
    right: -45px;
    background: black;
    width: 150px;
    transform: rotate(0deg);
    z-index: 99;
}



body .barraFooter footer
{
    position: absolute;
    display: flex;
    font-size: 0;
    padding-left: 22.5px;
    padding-right: 22.5px;
    border-radius: 30px;
    bottom: 115px;
    z-index: 99;
}

body .barraFooter footer a
{
    width: 35px;
    height: 35px;
    display: grid;
    margin-left: 10px;
    font-size: 0;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px #01a3b8,
        -4px -4px 7px -1px #ccf0f5;
    position: relative;
}

body .barraFooter footer a:nth-child(1)
{
    margin-right: 0px;
}

body .barraFooter footer a:nth-child(2)
{
    margin-right: 0px;
}

body .barraFooter footer a:nth-child(3)
{
    margin-right: 0px;
}







@media only screen and (max-width: 1080px)
{

    body .barraNav
    {
        width: 80px;
    }

    body .barraFooter
    {
        width: 80px;
        position: absolute;
        right: 70px;
        bottom: 220px;
    }

    body .barraNav header #logo
    {
        width: 75px;
        height: 75px;
        content: url("../imagenes/navFooter/portalinerdimensional2.gif");
        position: absolute;
        top: 10px;
        left: 3px;
    }

    body .barraNav header #rickymorty
    {
        width: 65px;
        height: 65px;
        content: url("../imagenes/navFooter/rickymorty4transparente.png");
        position: absolute;
        top: 10px;
        left: 8px;
    }

    body .barraNav header #letraTitulo
    {
        width: 70px;
        height: 25px;
        content: url("../imagenes/navFooter/rickymortytitulo2.png");
        position: relative;
        top: 68px;
        left: -10px;
    }

    body .barraNav .centrado nav
    {
        display: inline-block;
        font-size: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        position: relative;
        top: 55px;
    }

    body .barraNav .centrado nav a
    {
        width: 40px;
    }

    body .barraNav .centrado nav a #imgH3
    {
        transform: translate(8px, -50%);
    }

    body .barraNav .centrado nav a #imgH3 img
    {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 0px;
    }

    body .barraNav .centrado nav a #imgH3 h3
    {
        display: none;
    }

    body .barraFooter #modos #fondoCheck
    {
        content: "";
        width: 60px;
        height: 30px;
        position: absolute;
        background-color: transparent;
        border-radius: 30px;
        border: 3px #b5dc36 solid;
        left: 77px;
        top: -10px;
    }

    body .barraFooter #modos input[type="checkbox"]:before
    {
        content: "";
        width: 64px;
        height: 34px;
        background-color: transparent;
        border: 2px transparent solid;
        border-radius: 30px;
        z-index: 9;
        position: absolute;
        left: 77px;
        top: -10px;
    }

    body .barraFooter footer
    {
        position: absolute;
        left: 60px;
        top: 50px;
        display: grid;
        font-size: 0;
        padding-left: 22.5px;
        padding-right: 22.5px;
        border-radius: 30px;
        bottom: 0px;
    }

    body .barraFooter footer a
    {
        width: 35px;
        height: 35px;
        display: grid;
        margin-bottom: 10px;
        font-size: 0;
        text-decoration: none;
        border-radius: 10px;
        position: relative;
    }

    body .barraFooter #rango
    {
        position: relative;
        top: -115px;
        right: -35px;
        background: black;
        width: 150px;
        transform: rotate(-90deg);
    }


}

@media only screen and (max-width: 720px)
{

    body .barraNav
    {
        width: 30px;
        position: absolute;
        width: 100%;
        height: 80px;
    }

    body .barraNav .centrado nav
    {
        font-size: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;

        position: relative;
        top: 0px;
        border: #b5dc36 4px solid;
        border-radius: 10px;
        background-image: url("../imagenes/navFooter/rick-and-morty-rick.gif");
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        transition: 0.2s;
        pointer-events: auto;
    }

    body .barraNav .centrado nav:hover
    {
        border: #b5dc36 5px solid;
        border-radius: 10px;
        background-color: transparent;
        background-image: none;
        height: 300px;
        width: 500px;
        backdrop-filter: blur(10px);
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 200px;
        height: 350px;
        top: -310px;
        left: 25%;
        right: 25%;
        transition: 0.2s;
    }

    body .barraNav .centrado nav .boton
    {
        display: none;
    }

    body .barraNav .centrado nav:hover .boton
    {
        display: inline-block;
        transition: 0.2s;
    }

    body .barraFooter
    {
        width: 80px;
        position: absolute;
        right: 70px;
        bottom: 220px;
    }

    body .barraNav header
    {
        position: static;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 55px;
        top: 0px;
        left: 50%;
        right: 50%;
    }

    body .barraNav header #logo
    {
        position: relative;
        content: url("../imagenes/navFooter/portalinerdimensional2.gif");
        top: -8px;
        left: -80px;
    }


    body .barraNav header #rickymorty
    {
        position: relative;
        content: url("../imagenes/navFooter/rickymorty4transparente.png");
        top: -7px;
        left: -150px;
    }

    body .barraNav header #letraTitulo
    {
        width: 150px;
        height: 50px;
        position: relative;
        content: url("../imagenes/navFooter/rickymortytitulo2.png");
        top: 6px;
        left: -150px;
    }

    body .barraNav .centrado
    {
        border: blue 0px solid;
        position: absolute;
        display: block;
        width: 100%;
        height: 50px;
        bottom: -565px;
        box-sizing: border-box;
        text-align: center;
        pointer-events: none;
    }

    body .barraNav .centrado nav a
    {
        width: 40px;
    }

    body .barraNav .centrado nav a #imgH3
    {
        transform: translate(8px, -50%);
    }

    body .barraNav .centrado nav a #imgH3 img
    {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 0px;
    }

    body .barraNav .centrado nav a #imgH3 h3
    {
        display: none;
    }

    body .barraFooter #modos #fondoCheck
    {
        content: "";
        width: 60px;
        height: 30px;
        position: absolute;
        background-color: transparent;
        border-radius: 30px;
        border: 3px #b5dc36 solid;
        left: 77px;
        top: -10px;
    }

    body .barraFooter #modos input[type="checkbox"]:before
    {
        content: "";
        width: 64px;
        height: 34px;
        ground-color: transparent;
        border: 2px transparent solid;
        border-radius: 30px;
        z-index: 9;
        position: absolute;
        left: 77px;
        top: -10px;
    }

    body .barraFooter footer
    {
        position: absolute;
        left: 60px;
        top: 50px;
        display: grid;
        font-size: 0;
        padding-left: 22.5px;
        padding-right: 22.5px;
        border-radius: 30px;
        bottom: 0px;
    }

    body .barraFooter footer a
    {
        width: 35px;
        height: 35px;
        display: grid;
        margin-bottom: 10px;
        font-size: 0;
        text-decoration: none;
        border-radius: 10px;
        position: relative;
    }

    body .barraFooter #rango
    {
        position: relative;
        top: -115px;
        right: -35px;
        background: black;
        width: 150px;
        transform: rotate(-90deg);
    }


}

