/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 31 oct 2022, 18:27:55
    Author     : xxxdd
*/

#beta
{
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#beta div a
{
    font-size: 30px;
    pointer-events: auto;
}

#main label
{
    width: 100%;
}

#main label:nth-child(3)
{
    display: block;
    position: absolute;
    top: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: "letra";
    font-size: 40px;
    z-index: 99;
}

.barraNav .centrado nav .boton #imgH3 .letraNav
{
    width: 100px;
    font-family: "letra";
    font-size: 33px;
    color: black;
    display: flex;
    justify-content: left; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

nav .barraFooter footer .letraFooter
{
    display: block;
    font-family: 'letra';
    font-size: 18px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    right: auto;
    left: 20px;
    text-align: left;
}

@media only screen and (max-width: 1080px)
{

    .barraNav .centrado nav .boton #imgH3 .letraNav
    {
        width: 100px;
        display: none;
        font-family: "letra";
        font-size: 33px;
        color: black;
        justify-content: left; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }

    nav .barraFooter footer .letraFooter
    {
        display: none;
        font-family: 'letra';
        font-size: 18px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        position: fixed;
        bottom: 10px;
        right: auto;
        left: 20px;
        text-align: left;
    }

}

@media only screen and (max-width: 720px)
{

    nav .barraFooter footer .letraFooter
    {
        position: absolute;
        font-family: 'letra';
        font-size: 0px;
        color: black;
    }

    nav:hover .barraFooter footer .letraFooter
    {
        font-family: 'letra';
        font-size: 15px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        bottom: auto;
        animation: anima2 0.3s steps(20) forwards;
        position: absolute;
        top: 105px;
        text-align: left;
    }

    #main label:nth-child(3)
    {
        display: block;
        position: absolute;
        top: 190px;
        margin-left: auto;
        margin-right: auto;
        font-family: "letra";
        font-size: 35px;
    }


}

@media only screen and (max-width: 430px)
{
    
    #main label:nth-child(3)
    {
        display: block;
        position: absolute;
        top: 190px;
        margin-left: auto;
        margin-right: auto;
        font-family: "letra";
        font-size: 25px;
    }
    
}

@font-face
{
    font-family: 'rickymorty';
    src: url('../TiposDeLetra/get_schwifty.ttf');
}

@font-face
{
    font-family: 'letra';
    src: url('../TiposDeLetra/CodersCrux.otf');
}

@keyframes anima2 {
    from {
        left: -75px;
    }
    to {
        left: -98px;
    }
}