/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 31 oct 2022, 18:27:55
    Author     : xxxdd
*/

#beta
{
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#beta div a
{
    font-size: 30px;
    pointer-events: auto;
}

#main label
{
    width: 70%;
}

#main label:nth-child(3)
{
    position: relative;
    top: -555px;
    left: 0%;
    font-family: "letra";
    font-size: 30px;
    text-align: justify;
}

@media only screen and (max-width: 1080px)
{




}

@media only screen and (max-width: 720px)
{

    nav .barraFooter footer h4
    {
        position: absolute;
        font-family: 'letra';
        font-size: 0px;
        color: black;
    }

    nav:hover .barraFooter footer h4
    {
        font-family: 'letra';
        font-size: 20px;
        color: black;
    }

}


@font-face
{
    font-family: 'rickymorty';
    src: url('../TiposDeLetra/get_schwifty.ttf');
}

@font-face
{
    font-family: 'letra';
    src: url('../TiposDeLetra/CodersCrux.otf');
}